@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(225, 230, 240);
}
.container{
    background-color: #fff;
    width: 60%;
    height: 60vh;
    margin: 4rem auto;
    box-shadow: rgba(0,0,0, 0.3)0px 5px 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.container h1{
    text-align: center;
    padding: 20px 0;
    color: rgb(32, 30, 30);
}

.list li{
    height: 50px;
    margin: 15px 25px;
    display: block;
    flex-direction: row;
}

.list li label{
    padding: 3px 0px;
    align-items: center;
    align-items: flex-start;
}
.list li input{
    width: 60px;
    align-items: center;
    border: 10px;
}

.btn{
    width: 150px;
    margin: 18px auto;
    font-size: 1.3rem;
    padding: 7px 18px;
    border: none;
    background-color:cornflowerblue;
    color: #fff;
    border-radius: 10px;
}

.btn:hover{
    color: cornflowerblue;
    background-color: #fff;
    border: 2px solid cornflowerblue ;
}

#quiz-output{
    width: 200px;
    height: 40px;
    font-size:1.4rem;
    padding:20px;
    border: 1px solid cornflowerblue;
    text-align: center;
    border-radius: 10px;
}
